.styleHeader{
    font-size: xx-large;
    padding:7%;
    color:white;
    background-color:darkslateblue;
          }
.loginCard{
     width:270px;
     text-align:center;
     background-color:ivory;
     padding:0px;
         }
.loginInput{
     width:250PX;
      }
        
#loginButtons{
    width:280px;
    color:blue;
   
        }
.link{
    margin-top: 12px;
    margin-bottom: 18px;
}
       

        


            
 
        
 
   


     




 

