.styleHeader{
    font-size: xx-large;
    padding:7%;
    color:white;
    background-color:darkslateblue;
    margin-bottom: 15px;
       }
.signupCard{
    width:450px;
    height:500px;
    margin:auto;
    text-align:center;
    padding:0px;
    background-color:ivory;
        }
#bakButon{
    width:70px;
        }